[Unit]
Description=Load dpool/Data encryption keys
Before=systemd-user-sessions.service
Before=zfs-mount.service
After=zfs-import.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c 'systemd-ask-password "Encrypted ZFS password for dpool/Data" --no-tty  | zfs load-key dpool/Data'

[Install]
WantedBy=zfs-mount.service
